.map-wrapper {
  width: clamp(250px, 80vw, 500px);
  height: clamp(180px, 40vw, 300px);

  transition: transform 0.3s ease;
  transform-origin: center;

  margin: 0 auto;
}

.map {
  width: 100%;
  height: 100%;
}

.map-wrapper:hover {
  transform: scale(1.2);
  z-index: 1000;
}